.calcBody{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.calcBody button{
	/*margin: 5px;*/
	height: 50px;
	border: none;
	color: black;
	outline: none;
	/*font-size:14px;*/
}
.top{
	background-color: white;
	font-weight: bold;
}
.n{
	font-weight: bold;
	font-size:20px;
}
.o{
	font-size:22px;
	font-weight: 400;
}
.calcBody button:hover{
	background-color: lightgrey;
}